<h1>Upload an Image</h1>

<form [formGroup]="form" (ngSubmit)="upload()">
    <table>
        <tr>
            <!-- TODO: update img when upload -->
        </tr>
        <tr>
            <td>
                Image: 
            </td>
            <td>
                <!-- input file type, accepts images -->
                <input #file type="file" accept="image/*" 
                    formControlName="image" (change)="onImageUpdate($event)">
            </td>
        </tr>
        <tr>
            <td>
                Comment:
            </td>
            <td>
                <input type="text" placeholder="comments" formControlName="comment">
            </td>
        </tr>
        <button type="submit">Upload Image</button>
    </table>

</form>