<h1>Upload an Image</h1>

<form [formGroup]="form" (ngSubmit)="upload()">
    <table>
        <tr>
            <td>
                Image: 
            </td>
            <td>
                <!-- input file type, accepts images -->
                <input #file type="file" accept="image/*" 
                    formControlName="image" (change)="onImageUpdate($event)">
            </td>
        </tr>
        <tr>
            <td>
                Comment:
            </td>
            <td>
                <input type="text" placeholder="comments" formControlName="comment">
            </td>
        </tr>
        <tr>
            <td>
                <!-- button to upload to SQL -->
                <button type="submit">Upload Image</button>
            </td>
            <td>
                <!-- second button to upload to S3 (DO) -->
                <button type="button" (click)="uploadS3()">Upload S3</button>
            </td>
        </tr>
    </table>
</form>

